<html>
  <body>
    <ul>
      <!-- Create an <li> element for each user in users -->
      <% years.forEach((year) => { %>
      <a href="/year-sightings/<%=year%>">Years <%=year%></a
      ><br />
      <% }); %>
    </ul>
  </body>
</html>
